Repository kergoth/beets-stylize: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pydoclint:
  name: pydoclint
  entry: pydoclint
  language: system

Use a 'remotified' readme to fix images on PyPI
  .github/README.remotified.md
  .github/workflows/release.yml
  pyproject.toml
  scripts/remotify
Due: check-toml, check-yaml

Correct the remotify script path
  .github/workflows/release.yml
Due: check-yaml

Bump development status to production/stable
  pyproject.toml
Due: check-toml

Bump version to 1.0.1
  pyproject.toml
Due: check-toml

Update the poetry lockfile
  poetry.lock
Due: none

Bump version to 1.0.2
  pyproject.toml
Due: check-toml

Pass the token to codecov
  .github/workflows/tests.yml
Due: check-yaml

Add noxfile handling for multiple beets versions
  noxfile.py
Due: pydoclint

Credit the beets project
  .github/README.remotified.md
  README.md
Due: none

Exclude the noxfile from mypy
  pyproject.toml
Due: check-toml

Add links to the github project to the README
  .github/README.remotified.md
  README.md
Due: none

Clarify project summary, add image to the summary
  .github/README.remotified.md
  README.md
Due: none

Correct the package_name in the cookiecutter/cruft json
  .cookiecutter.json
  .cruft.json
Due: none

Add a comment to the remotify script
  scripts/remotify
Due: none

Fix the name set on the plugin object
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Remove .cookiecutter.json, seems redundant
  .cookiecutter.json
Due: none

Disable poetry-lock and poetry-install for now
  .pre-commit-config.yaml
Due: check-yaml

Add missing type for the name argument to BeetsPlugin
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Ignore .venv
  .gitignore
Due: none

Workflow action updates
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Point to spdx.org for the license badge
  CONTRIBUTING.md
Due: none

Point cruft to my fork
  .cruft.json
Due: none

Add ethical source and contributor covenant badges
  README.md
Due: none

Add a note to the readme about ethical source principles
  README.md
Due: none

Move the covenant link ref to github only section of the readme
  README.md
Due: none

Avoid erroring on missing color definition
  src/beetsplug/stylize/plugin.py
  tests/test_stylize.py
Due: pydoclint

Fix the return type of is_enabled
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Add contributor covenant link to docs index
  docs/index.md
Due: none

Drop remnant reference to usage.md
  docs/index.md
Due: none

Bump version to 1.0.3
  pyproject.toml
Due: check-toml

Add urlencode function for use with link
  README.md
  src/beetsplug/stylize/plugin.py
  tests/test_stylize.py
Due: pydoclint

Also support %color
  README.md
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Bump version to 1.1.0
  pyproject.toml
Due: check-toml

Fix the test
  tests/test_stylize.py
Due: pydoclint

Set coverage target to 96 for now
  codecov.yml
  pyproject.toml
Due: check-toml, check-yaml

Minimize the work done in the template functions
  src/beetsplug/stylize/plugin.py
  tests/test_stylize.py
Due: pydoclint

Explicitly disable coverage of the bits depending on a tty for now
  codecov.yml
  pyproject.toml
  src/beetsplug/stylize/plugin.py
Due: check-toml, check-yaml, pydoclint

Avoid name shadowing in color_codes()
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Fix fallout from upload-artifact update
  .github/workflows/tests.yml
Due: check-yaml

Fix the default value of is_enabled
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pydoclint: any of: \.py$
