Repository kergoth/beets-stylize: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, pydoclint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pydoclint
        name: pydoclint
        entry: pydoclint
        language: system
        types: [python]
      - id: ruff
        name: ruff
        entry: ruff check
        args: [--fix]
        language: python
        types_or: [python, pyi]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: python
        types_or: [python, pyi]
  - repo: https://github.com/python-poetry/poetry
    rev: 1.8.3
    hooks:
      - id: poetry-check
      - id: poetry-lock
      - id: poetry-install
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
  - repo: https://github.com/repo-helper/pyproject-parser
    rev: v0.11.1
    hooks:
      - id: check-pyproject

Bump version to 1.1.1
  pyproject.toml
Due: check-toml

Provide a more elaborate example in the README
  README.md
  docs/images/my_config_listings.png
  docs/index.md
Due: none

Add missing color config for the personal config example
  README.md
Due: none

Add missing album format_item in personal config
  README.md
Due: none

Add support for a BEETS_COLOR env variable
  src/beetsplug/stylize/plugin.py
  tests/test_stylize.py
Due: pydoclint

Add python versions 3.11/3.12
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, pydoclint

Bump version to 1.2.0
  pyproject.toml
Due: check-toml

Fix the test matrix for the needed python versions
  .github/workflows/tests.yml
Due: check-yaml

Use 3.12 for release/coverage
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Bump version to 1.2.1
  pyproject.toml
Due: check-toml

Fix a small formatting issue
  noxfile.py
Due: pydoclint

Ignore UP035
  pyproject.toml
Due: check-toml

Set ruff target-version for the pyupgrade rules
  pyproject.toml
Due: check-toml

Revert "Ignore UP035"
  pyproject.toml
Due: check-toml

ANSI_CODES -> CODES_BY_COLOR
  src/beetsplug/stylize/plugin.py
Due: pydoclint

_colorize -> colorize
  src/beetsplug/stylize/plugin.py
Due: pydoclint

return tuple instead of list
  src/beetsplug/stylize/plugin.py
Due: pydoclint

properly convert color names to ansi escape codes
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Migrate packaging and tests to uv stack
  .pre-commit-config.yaml
  .safety-policy.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  src/beetsplug/stylize/plugin.py
  tests/test_stylize.py
  uv.lock
Due: check-toml, check-yaml, pydoclint

Migrate CI workflows and docs to uv
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  CONTRIBUTING.md
Due: check-yaml

Update dependencies
  src/beetsplug/stylize/plugin.py
  uv.lock
Due: pydoclint

Fix test failures
  src/beetsplug/stylize/plugin.py
Due: pydoclint

Bump furo from 2022.12.7 to 2025.12.19 in /docs
  docs/requirements.txt
Due: none

Fix CI coverage path mapping
  pyproject.toml
Due: check-toml

Quote label colors
  .github/labels.yml
Due: check-yaml
